@use "../abstracts/breakpoints" as m;
.huddle_footer {
  position: relative;
  z-index: 1;
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-400);
  padding-top: var(--2xl);
  padding-bottom: var(--xl);
  &--logo {
    background-color: var(--clr-neutral-400);
    height: 1.75rem;
    mask-image: url("../images/logo.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  > div ul li div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img {
      margin-top: var(--xs);
      margin-right: var(--md);
    }
    p {
      padding-left: var(--xs);
    }
  }
  > ul {
    li a {
      position: relative;
      color: var(--clr-neutral-400);
      outline: 0;
      &::before {
        content: "";
        position: absolute;
        inset: 1.25rem 50% 0 50%;
        background-color: var(--clr-neutral-400);

        transition: left 250ms ease-out, right 250ms ease-out;
      }
      &:hover,
      &:focus {
        &::before {
          left: 0;
          right: 0;
        }
      }
    }
  }

  &--links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--lg);
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--md);

      li {
        padding: 0.6rem;
        border: 1px solid var(--clr-neutral-400);
        border-radius: 2rem;
        a {
          width: 1rem;
          height: 1rem;
          display: block;
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-position: center;
          background-color: var(--clr-neutral-400);
        }

        &:hover {
          border: 1px solid var(--clr-primary-700);
          a {
            background-color: var(--clr-primary-700);
          }
        }
      }

      :nth-child(1) a {
        mask-image: url("../images/facebook.svg");
      }
      :nth-child(2) a {
        mask-image: url("../images/twitter.svg");
      }
      :nth-child(3) a {
        mask-image: url("../images/instagram.svg");
      }
    }
  }

  @include m.breakpoint(medium) {
    justify-items: center;
    gap: var(--xl);
    padding-bottom: var(--2xl);
    &--logo {
      height: 2rem;
    }
    > div {
      max-width: 25rem;
    }
    > ul {
      align-self: center;
    }
    &--links {
      align-self: flex-end;
      gap: var(--3xl);
    }
  }
}
