$size: (
  small: (
    h1: Clamp(1.5rem, 5vw, 3rem),
    h2: Clamp(1.45rem, 5vw, 2rem),
    h3: Clamp(1.45rem, 5vw, 2rem),
    h4: Clamp(1.45rem, 5vw, 2rem),
    h5: Clamp(1.1rem, 5vw, 2rem),
    p: Clamp(1rem, 4vw, 1.23rem),
    a: Clamp(1rem, 5vw, 1rem),
    button: Clamp(0.75rem, 5vw, 1.25rem),
    small: Clamp(0.75rem, 5vw, 1rem),
  ),
);

$weight: (
  primary: (
    400: 400,
    700: 700,
  ),
  accent: (
    600: 600,
  ),
);
