$size: (
  small: (
    h1: 1.5rem,
    h2: 1.45rem,
    h3: 1.45rem,
    h4: 1.45rem,
    h5: 1.1rem,
    p: 1rem,
    a: 1.12rem,
    button: 0.75rem,
    small: 0.75rem,
  ),
  medium: (
    h1: 5rem,
    h2: 2.5rem,
    h3: 5rem,
    h4: 2rem,
    p: 1.5rem,
  ),
);

$weight: (
  primary: (
    400: 400,
    700: 700,
  ),
  accent: (
    600: 600,
  ),
);
