@use "./fonts" as *;
@use "./colors" as *;
@use "../abstracts/breakpoints" as b;
@use "sass:list";

:root {
  --max-container-width: 90rem;
  --grid-column: 6;
  --xs: 0.5em;
  --sm: 0.75em;
  --md: 1em;
  --lg: 2em;
  --xl: 3em;
  --2xl: 6em;
  --3xl: 9em;

  @each $base, $shade in $colors {
    @each $shades, $colors in $shade {
      --clr-#{$base}-#{$shades}: #{$colors};
    }
  }
  @each $base, $weights in $weight {
    @each $weight, $value in $weights {
      --fw-#{$base}-#{$value}: #{$value};
    }
  }
}

// @each $elem, $value in $size {
//   @if ($elem == small) {
//     @each $type, $size in $value {
//       #{$type} {
//         font-size: $size;
//       }
//     }
//   } @else if($elem != small) {
//     @include b.breakpoint(#{$elem}) {
//       @each $type, $size in $value {
//         #{$type} {
//           font-size: $size;
//         }
//       }
//     }
//   }
// }

@function ToClamp($elem, $size) {
  $small: 1rem;
  $large: 1rem;
  @if ($elem == small) {
    $small: $size;
  }
  @return Clamp($small, 20vw, $large);
}

@each $vp, $value in $size {
  @each $type, $size in $value {
    #{$type} {
      font-size: $size;
    }
  }
}
