@use "../components/buttons" as b;
@use "../abstracts/breakpoints" as m;
// nav layouts
.huddle_Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--logo {
    width: Clamp(7rem, 25vw, 12rem);
  }

  &--btn {
    @include b.btn-white;
  }
}
